.root {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.201);
  
  .header_link {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(74, 74, 74);
    margin-bottom: 20px;
  }
}