.root {
  padding: 10px;
  background-color: rgb(246, 246, 242);
  border-radius: 8px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.271);
  font-size: 0.9rem;

  .date {
    color: rgb(109, 108, 108);
  }
}
